doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        header
            h1 video call
        main
            div#welcome
                form
                    input(placeholder="room name")
                    button(type="submit") submit
            div#call 
                div#myStream
                    video#myFace(autoplay, playsinline, width="400", height="400")
                    button#mute Mute
                    button#camera CameraOff
                    select#cameraSelect 
                        option select camera
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js")