doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        header 
            h1 socket io
        main
            div#welcome
                form
                    input#welcomeInput(required type="text", placeholder="room name")
                    button Enter Room
            div#chatRoom(style="display:none")
                ul
                form
                    input#chatRoomInput(required type="text", placeholder="write text to everyone")
                    button Send 
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js")